.node__root circle {
  fill: red;
  cursor: pointer
}

.node__branch circle {
  fill: yellow;
  cursor: pointer;
}

.node__leaf circle {
  fill: green;
  cursor: pointer;
}

.link__to-leaf {
  stroke: green;
}

.link__to-branch {
  stroke: yellow;
}
