.WelcomeTitle {
    text-align: center;
}

.Container {
    margin: auto;
    width: 80%;
}

.Loading {
    height: 2em;
    display: block;
    margin: 5em auto 5em auto;
    animation: rotation 2.5s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.RoadmapList {
    width: 100%;
}

.InputWrapper {
    display: block;
    width: 100%;
}

.RoadmapInput {
    width: 30%;
    display: block;
    margin: 2em auto;
    padding: 12px 20px;
    box-sizing: border-box;
}

.RoadmapTextArea {
    width: 30%;
    display: block;
    margin: 2em auto;
    padding: 12px 20px;
    box-sizing: border-box;
    min-height: 6em;
    resize: vertical;

}

.RoadmapSubmit {
    display: block;
    margin: 2em auto;
    border: #007FFF;
    background-color: #007FFF;
    width: 30%;
    padding: 12px 20px;
    box-sizing: border-box;
}

.RoadmapSubmit:hover {
    background-color: #409fff;
}

.RoadmapWrapper {
    margin-bottom: 1rem; /* Add some margin between roadmap items */
  }
  
  .RoadmapButton {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #fff; /* Text color for roadmap button */
  }
  
  .RoadmapButton:hover {
    border-color: #646cff;
  }
  
  .RoleButton {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #fff; /* Text color for role button */
    margin-left: 0.5rem; /* Add some margin between role buttons */
  }
  
  .RoleButton:hover {
    border-color: #646cff;
  }