.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navItem {
    display: block;
    width: 100%;
}

.navButton {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
}

.menuButton {
    padding: 8px 16px;
    background: none;
    border: none;
    cursor: pointer;
}

.menuContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #D7D2CB;
    z-index: 1000;
}

.menuBackground {
    background-color: #D7D2CB;
    color: black;
}

.closeButton {
    padding: 8px 16px;
    background: none;
    border: none;
    cursor: pointer;
}

.header {
    position: relative;
    background-color: #D7D2CB;
    padding: 16px;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.logoutButton {
    padding: 8px 16px;
    background: none;
    border: none;
    cursor: pointer;
}
